.p {
    width: 40vw;
    height: 40vh;
    margin: 20px 10px;
    border: solid 10px rgb(27, 27, 27);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

 .p-browser {
    height: 20px;
    background-color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
  }
  
.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
  }
  
.p-img {
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 480px) {
    .p {
    border: solid 5px rgb(27, 27, 27);
      width: 80%;
      height: 20vh;
    }
  }