.i{
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
}
.i-left{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
position: relative;

}
.i-left-wrapper{
    left: 0;
    padding: 50px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}
.i-right{
flex: 1;
position: relative;
}
.i-intro{
    font-size: 2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.i-name{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.i-desc{
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
}
.i-title{
    height: 3rem;
    overflow: hidden;
    
}

.i-title-wrapper{
    height: 100%;
    animation: mymove 10s ease-in-out infinite alternate;
    
}
@keyframes mymove {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.i-title-item{
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(204, 74, 255);
    display: flex;
    align-items: center;
}
.i-img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    clip-path: circle(49% at 50% 50%);
    position: absolute;
    margin: 19%;
    top: 1;
}
.i-bg{
    clip-path: circle(45% at 50% 50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
  
    .i-left-wrapper {
      left: 15px;
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .i-desc{
      display: none;
      font-size: .75rem;
    }
    
  }